<!DOCTYPE html>

<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/WebPic.jpg" width="210px" height="294px">
                </div>
                <div class="contact">
									5218 SAS Hall<br>
									Department of Statistics<br>
                  North Carolina State University<br>
                  <br>
                  email: <a href="mailto:jwilli27@ncsu.edu">jwilli27@ncsu.edu</a> <br>
									office phone: 919.513.0191
                </div>
              </div>
			  

<b>Brief biography</b> 
<br>
Welcome to my webpage!  I am an Assistant Professor (tenure-track) in the Department of Statistics at North Carolina State University.  My PhD is in Statistics from UNC at Chapel Hill.  I was advised by <a href="https://hannig.cloudapps.unc.edu/index.html"><b>Jan Hannig</b></a> at UNC, and <a href="https://scholar.google.com/citations?user=beuROLsAAAAJ&hl=en#"><b>Curt Storlie</b></a> at the Mayo Clinic.

<br>
<br>
Link: <a href="assets/CV_Williams.pdf"><b>Curriculum Vitae</b></a>
<br>
Link: <a href="https://scholar.google.com/citations?user=rzzeE0gAAAAJ&hl=en"><b>Google Scholar Profile</b></a>
<br>
<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-5164-9430" href="https://orcid.org/0000-0001-5164-9430" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-5164-9430</a></div>

<br>
<b>Current research interests</b>
<ul>
<li> Foundations of statistics </li>
<li> Model/feature selection </li>
<li> Bayesian inference </li>
<li> Hidden Markov models </li>
<li> Medical science applications </li>
<li> Multivariate time-series analysis </li>
</ul>

<br>
<b>News</b> 
<br>

<br>
I was awarded the 2021-22 LeRoy and Elva Martin Award for Teaching Excellence: <a href="https://sciences.ncsu.edu/news/college-honors-2021-22-leroy-and-elva-martin-award-recipients/?utm_medium=social&utm_source=twitter&utm_content=sciences&utm_campaign=socialhub"><b>website</b></a>.
<br>
<br>

<br>
<img src="/assets/Salil_pic.jpg" width="600px" height="400px">
<br>
My first PhD student, Salil Koner, co-advised by Ana-Maria Staicu, graduated in Fall 2021!  Congradulations, Dr. Koner! <br>
Check out his research at: <a href="https://salilkoner.github.io"><b>website</b></a>  <br>
<br>

<br>
<img src="/assets/REU_pic.jpg" width="403px" height="302px">
<br>
Completed a great Summer 2021 REU project with these excellent undergraduate students.  <br>
Check out the preprint of our manuscript: <a href="https://arxiv.org/pdf/2111.02592.pdf"><b>website</b></a>  <br>
<br>				

<br>
One of my papers has been featured on a popular machine learning podcast <a href="https://www.thetalkingmachines.com/article/bayesian-approach-multi-state-hidden-markov-models-application-dementia-progression"><b>website</b></a>.
<br>


				
							</div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
