<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/headShot_1.JPEG" width="225px" height="294px">
                </div>
                <div class="contact">
									Department of Statistics<br>
                  North Carolina State University<br>
                  <br>
		              email: <a href="mailto:ebkendal@ncsu.edu"><b>ebkendal@ncsu.edu</b></a> <br>
									Note: "Kendall" has TWO "l"s but my email only has ONE
                </div>
              </div>
			  
              <b>Brief biography</b>
              <br>
              Hello! I am happy to see you have found my website. I am a fifth year PhD candidate in the Department of Statistics at
              North Carolina State University (NC State). I graduated from the University of Florida (UF) with a B.S. in Mathematics
              and a Minor in Statistics. While at UF, I worked under the advisory of <a
                href="https://jantonelli111.github.io/" target="_blank"><b>Dr. Joseph Antonelli</b></a> in the Department of
              Statistics, and now I am advised by <a href="https://jonathanpw.github.io/" target="_blank"><b>Dr. Jonathan
                  Williams</b></a> at NC State.

              <br>
              <br>
              <a href="assets/KendallEmmettCV.pdf" target="_blank"><b>Curriculum Vitae</b></a> (Last Updated: March 20, 2025)
              <br>
              <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-7985-0205"
                  href="https://orcid.org/0000-0002-7985-0205" target="orcid.widget" rel="noopener noreferrer"
                  style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
                    style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-7985-0205</a></div>
	      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://github.com/ebkendall"
                  href="https://github.com/ebkendall" target="github.widget" rel="noopener noreferrer"
                  style="vertical-align:top;"><img src="assets/github-mark.png"
                    style="width:1em;margin-right:.5em;" alt="Github icon">Github</a></div>
	      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://scholar.google.com/citations?user=gBmwaccAAAAJ&hl=en&oi=ao"
                  href="https://scholar.google.com/citations?user=gBmwaccAAAAJ&hl=en&oi=ao" target="scholar.widget" rel="noopener noreferrer"
                  style="vertical-align:top;"><img src="assets/google_scholar_logo.png"
                    style="width:1em;margin-right:.5em;" alt="Scholar icon">Google Scholar</a></div>
	      <br>

              <b>Current research interests</b>
              <ul>
                <li> Hidden Markov Models </li>
                <li> Bayesian Inference </li>
		<li> Biomedical Statistics </li>
                <li> Functional Data Analysis </li>
                <li> Multi-task Learning </li>
                <li> Regression Discontinuity Designs </li>
              </ul>

              <br>

              <b>News:</b>

              <br>
              
              <table>
                <tr>
                  <td>03-20-25:</td>
                  <td> I will be traveling to Oslo, Norway, in May 2025 to speak at the University of Oslo's Department of Mathematics Seminar on Statistics and Data Science. Additionally, I was given the opportunity to give a seminar on my research at the Oslo University Hospital. </td>
                </tr>
                <tr>
                  <td>01-09-25:</td>
                  <td> The session I organized titled "Applications and Advances of Regime Switching Models" has been accepted as a Topic-Contributed Session for JSM 2025. Be on the lookout for that this August! </td>
                </tr>
                <tr>
                  <td>04-03-24:</td>
                  <td> I won 2nd place at NC State's Graduate Student Research Symposium in the Mathematical and Physical Sciences category. </td>
                </tr>
                <tr>
                  <td>11-13-23:</td>
                  <td> I gave a Short Talk at the Bayesian Young Statisticians Meeting (BAYSM) 2023 on my work with Mayo Clinic. </td>
                </tr>
                <tr>
                  <td>10-24-23:</td>
                  <td> I passed my Oral Preliminary Exam which is the last milestone before my final defense. This means I am no longer a PhD "student" but am a PhD "candidate." </td>
                </tr>
                <tr>
                  <td>08-10-23:</td>
                  <td> The work with Mayo Clinic this summer was presented as a poster presentation at JSM 2023. Check out
                  the poster <a href="assets/JSM2023PosterFinal.pdf" target="_blank"><b>here</b></a>! </td>
                </tr>
                <tr>
                  <td>05-22-23:</td>
                  <td> I was hired as a Graduate Intern for Mayo Clinic's Kern Center for Science of Health Care Delivery 
                    this Summer 2023 working with <a href="https://www.mayo.edu/research/faculty/storlie-curtis-curt-b-ph-d/bio-20154401"
                    target="_blank"><b>Dr. Curtis Storlie</b></a>. </td>
                </tr>
              </table>
              
              <br>

            </div>
            <div class="sidebar">
            </div>
            {% include footer.html %}
          </div>
        </div>
    </body>
</html>
